MODEL_PATH=Aljazeera_topics_model
ARTICLES_PATH = news/aljazeera_articles.json
PROCESSED_PATH = news/processed_articles.json
BASE_URL = https://www.ajnet.me/politics

API_HOST=0.0.0.0
API_PORT=8000
FRONTEND_BACKEND_URL=http://localhost:8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=aljazeera_articles
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

DATABASE_URL=postgresql://postgres:Asemesm##A0321##esm@localhost:5432/aljazeera_articles
